/* Global */
body{
    background-color: black;
    font-family: Verdana;
    text-align: center;
}
/* Header */
header{
    color: white;
    font-weight: normal;
    font-size: 50px;
}
.clickable{
    color: aquamarine;
    font-size: 16px;
}
/* Content */
.topic{
    font-weight: 300;
    font-size: 42px;
    color: white;
}
.sentence{
    font-size: 21px;
    color: gray;
}

footer{
    text-align: right;
    color:gray;
}